
<div class="mt-0">
  <div>
  <div class="jumbotron bg-yellow pb-1 pt-0 pl-0
  pr-0">
    <div class="row mb-0 pb-0">
    </div class="">
    <video autoplay loop preload="metadata" class=" embed-responsive embed-responsive-16by9" poster="https://www.tesla.com/ns_videos/Model3_WebsiteHero_Master_D.jpg?20170801">
          <source src="https://www.tesla.com/ns_videos/Model3_WebsiteHero_Master_D.mp4?20170801">

  </div>
  <div>
    <h1 class="h1. bootstrap heading text-center w-100 ">Model&nbsp;3</h1>
    <p class="text-center lead font-weight-light">
      Designed to attain the highest safety ratings in every category, Model 3 achieves 220 miles of range while starting at only $35,000 before incentives.
    </p>
  </div>
  <div>
     <div class="container">
            <h2 class="h2. bootstrap heading text-center">Production&nbsp;Timeline</h2>

            <div class="row align-items-center">
                <div class="col text-center Nborder">
                    <h2 class="text-center">2017</h2>
                    <p class="section-description">Production begins in the US, with the Long Range Battery</p>
                    <p class="section-description">Customer deliveries begin</p>
                  </div>
                <div class="col text-center Nborder">
                    <h2 class="">2018</h2>
                    <p class="">Production of the Standard Battery begins</p>
                    <p class="">All-Wheel Drive production begins in the Spring</p>
                    <p class="">International deliveries of left-hand drive vehicles begin in the second half of the year</p>

              </div>
                <div class="col text-center Nborder" >
                    <h2 class="">2019</h2>
                    <p class="s">Production of right-hand drive vehicles begins</p>
                </div>
            </div>
        </div>

  </div>
</div>
<div>


</div>
<div class="text-center my-4">
  <%= link_to "Sign up to get your new model", signup_path, class: 'btn btn-dark btn-lg text-white' %>
</div>

</div>
<br>
